.productDetails{
    margin-top: 8dvh;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 100px;
}

.productDetails_image{
    width: 500px;
}

.productDetails_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    border: 1px solid rgb(201, 201, 201);
}

.buy{
    align-self: center;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

.amount{
    width: 60px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.div_buy{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
}

@media (max-width:1250px) {
    .productDetails{
        padding: 50px;
        gap: 20px;
    }
    
    .productDetails_image{
        width: 400px;
    }
    .productDetails_div{
        padding: 10px;
    }
}

@media (max-width:800px) {
    .productDetails{
        padding: 20px;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .productDetails_image{
        width: 300px;
    }
    .productDetails_div{
        padding: 10px;
        width: 250px;
        height: 250px;
    }
}